@model RunSafe.Models.Person

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Person</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="MobileNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MobileNumber" class="form-control" />
                <span asp-validation-for="MobileNumber" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="firstname" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="firstname" class="form-control" />
                <span asp-validation-for="firstname" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="lastname" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="lastname" class="form-control" />
                <span asp-validation-for="lastname" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
